Automation/YouTube Video Auto-Uploader/blueprint.json
{
    "name": "YouTube Video Auto-Uploader",
    "flow": [
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7865872
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1j3bP77Eb0dQQ-T6_Og72huLLGMsoBAeJyAZtz4JfI4I",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "tableFirstRow": "A1:Z1",
                "filter": [
                    [
                        {
                            "a": "D",
                            "o": "date:equal",
                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": -1725,
                    "y": 400
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "YouTube Video Sheet (muhammadumerk546@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "YouTube Video Auto-Uploader"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Title (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Description (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Hashtags (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Date (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Drive Link (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "YouTube Link (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Privacy Status (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "Upload Status (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 10,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": -1718,
                            "y": 863
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 18,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -1291,
                    "y": 386
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 7861201
                            },
                            "filter": {
                                "name": "email",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`7`}}",
                                            "o": "text:equal",
                                            "b": "uploaded"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "muhammadumerk546@gmail.com"
                                ],
                                "subject": "Subject: Video Already Uploaded: {{3.`0`}} - Upload Today’s Video",
                                "html": "Hi,\n<br><br>\nThe following last video has already been uploaded to YouTube:\n<br><br>\n- Title: {{3.`0`}}<br>\n- Description: {{3.`1`}}<br>\n- Upload Date: {{3.`3`}}<br>\nYou can watch the video here: {{3.`5`}}\n<br><br>\nPlease upload today’s video ({{formatDate(now; \"YYYY-MM-DD\")}}) if you haven’t already.\n<br><br>\nThanks,\nYour YouTube Auto-Uploader Team",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": -929,
                                    "y": 856
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "Gmail Connection (muhammadumerk546@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 20,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": true,
                                        "count": "3",
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": -629,
                                            "y": 832
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 10000
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 44640
                                                },
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "\\/d\\/(.+?)\\/",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "filter": {
                                "name": "video check",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`7`}}",
                                            "o": "text:notequal:ci",
                                            "b": "uploaded"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{3.`4`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -783,
                                    "y": 37
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "google-drive:getAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7861364
                            },
                            "mapper": {
                                "file": "{{4.`$1`}}",
                                "select": "map",
                                "formatDrawings": "image/jpeg",
                                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -386,
                                    "y": 41
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        },
                                        "formatDrawings": {
                                            "label": "JPEG"
                                        },
                                        "formatDocuments": {
                                            "label": "MS Word Document"
                                        },
                                        "formatSpreadsheets": {
                                            "label": "MS Excel"
                                        },
                                        "formatPresentations": {
                                            "label": "MS PowerPoint"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Drive Connection (muhammadumerk546@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a File ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatDocuments",
                                        "type": "select",
                                        "label": "Convert Google Documents Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "application/pdf",
                                                "application/vnd.oasis.opendocument.text",
                                                "text/html",
                                                "text/plain",
                                                "application/rtf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatSpreadsheets",
                                        "type": "select",
                                        "label": "Convert Google Spreadsheets Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                                "application/pdf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatPresentations",
                                        "type": "select",
                                        "label": "Convert Google Slides Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                                "application/pdf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatDrawings",
                                        "type": "select",
                                        "label": "Convert Google Drawings Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image/jpeg",
                                                "image/png",
                                                "image/svg+xml",
                                                "application/pdf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 11,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": -411,
                                            "y": 433
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 6,
                            "module": "youtube:uploadVideo",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7864786
                            },
                            "mapper": {
                                "data": "{{5.data}}",
                                "title": "{{3.`0`}}",
                                "fileName": "{{5.name}}",
                                "categoryId": "27",
                                "description": "{{3.`1`}}",
                                "privacyStatus": "public",
                                "containsSyntheticMedia": false,
                                "selfDeclaredMadeForKids": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 36,
                                    "y": 42
                                },
                                "restore": {
                                    "expect": {
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "license": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "categoryId": {
                                            "mode": "chose",
                                            "label": "Education"
                                        },
                                        "embeddable": {
                                            "mode": "chose"
                                        },
                                        "privacyStatus": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "notifySubscribers": {
                                            "mode": "chose"
                                        },
                                        "containsSyntheticMedia": {
                                            "mode": "chose"
                                        },
                                        "selfDeclaredMadeForKids": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "youtube"
                                            },
                                            "label": "My YouTube connection (Muhammad Umer Khan <muhammadumerk546@gmail.com>)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:youtube",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true,
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "categoryId",
                                        "type": "select",
                                        "label": "Video Category",
                                        "required": true
                                    },
                                    {
                                        "name": "privacyStatus",
                                        "type": "select",
                                        "label": "Privacy Status and Scheduling",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "private",
                                                "unlisted",
                                                "public"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description",
                                        "validate": {
                                            "max": 5000
                                        }
                                    },
                                    {
                                        "name": "selfDeclaredMadeForKids",
                                        "type": "boolean",
                                        "label": "**The video is made for kids**",
                                        "required": true
                                    },
                                    {
                                        "name": "containsSyntheticMedia",
                                        "type": "boolean",
                                        "label": "**The video contains altered/synthetic media**",
                                        "required": true
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Tag",
                                            "required": true,
                                            "validate": {
                                                "max": 500
                                            }
                                        },
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "recordingDate",
                                        "type": "date",
                                        "label": "Recording Date"
                                    },
                                    {
                                        "name": "license",
                                        "type": "select",
                                        "label": "License",
                                        "validate": {
                                            "enum": [
                                                "youtube",
                                                "creativeCommon"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "embeddable",
                                        "type": "boolean",
                                        "label": "Allow Embedding"
                                    },
                                    {
                                        "name": "notifySubscribers",
                                        "type": "boolean",
                                        "label": "Notify Subscribers"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 12,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 17,
                                            "y": 457
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 7,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7865872
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1j3bP77Eb0dQQ-T6_Og72huLLGMsoBAeJyAZtz4JfI4I",
                                "sheetId": "Sheet1",
                                "rowNumber": "{{3.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "values": {
                                    "5": "https://www.youtube.com/watch?v={{6.id}}",
                                    "6": "{{6.status.privacyStatus}}",
                                    "7": "{{6.status.uploadStatus}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 454,
                                    "y": 39
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "YouTube Video Sheet (muhammadumerk546@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "YouTube Video Auto-Uploader"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Title (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Description (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Hashtags (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "Date (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "Drive Link (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "YouTube Link (F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "Privacy Status (G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "Upload Status (H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Title (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Description (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Hashtags (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Date (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Drive Link (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "YouTube Link (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Privacy Status (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Upload Status (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 432,
                                            "y": 455
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 9,
                            "module": "google-drive:moveAFileIntoAFolder",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7861364
                            },
                            "mapper": {
                                "file": "{{5.id}}",
                                "move": "drive",
                                "select": "file",
                                "folderId": "/1mQBImKu23n1SUG8hx2Mpl2pgwpDNNK_Y/1b7GVU9rv_ykI1zYuENmX54kK0PiUvjLh",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 873,
                                    "y": 32
                                },
                                "restore": {
                                    "expect": {
                                        "file": {
                                            "mode": "edit",
                                            "path": []
                                        },
                                        "move": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "File"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "YouTube Video Auto-Uploader",
                                                "Uploaded"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Drive Connection (muhammadumerk546@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "move",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select File/Folder",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "file",
                                        "type": "file",
                                        "label": "File ID",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Folder Location",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 14,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 874,
                                            "y": 459
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 16,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 7861201
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "muhammadumerk546@gmail.com"
                                ],
                                "subject": "Subject: Video Uploaded: {{6.snippet.title}}",
                                "html": "Hi,<br>\nA new video has been successfully uploaded to YouTube! Here are the details:\n<br><br>\nTitle: {{6.snippet.title}} <br>\nDescription: {{6.snippet.description}} <br>\nUpload Date: {{3.`3`}}<br>\nYou can watch the video here:  {{3.`5`}}\n<br><br>\nThanks, Your YouTube Auto-Uploader Team",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1173,
                                    "y": 32
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "Gmail Connection (muhammadumerk546@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 17,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": true,
                                        "count": "3",
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1188,
                                            "y": 495
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 10000
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 44640
                                                },
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}