Automation/Job Application Tracker/blueprint.json
{
    "name": "Integration Google Sheets",
    "flow": [
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7824424
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "D",
                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                            "o": "date:equal"
                        }
                    ]
                ],
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "1xQmaFcpDIOzL4UEE0rDcpp6sTHukVAVTRAcL_Q-SoOQ",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -1453,
                    "y": -473
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Job Application Tracker"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Job Tracker Sheet (muhammadumerk546@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Company (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Role (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Applied Date (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Follow-Up Date (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Status (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Contact Info (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Notes (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 9,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": -1153,
                            "y": -323
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -1153,
                    "y": -623
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "microsoft-email:createAndSendAMessage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7815269
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "o": "number:greaterorequal",
                                            "b": "1"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "Hello Umer,\n<br><br>\nYou applied to {{3.`0`}} for the {{3.`1`}} role on {{3.`2`}}.\nThis is your scheduled follow-up reminder.\n<br><br>\nContact Info: {{3.`5`}} <br>\nNotes: {{3.`6`}} <br>\n<br>\nGood luck!",
                                "subject": "Reminder: Follow-Up with {{3.`0`}} for {{3.`1`}} Role",
                                "contentType": "html",
                                "toRecipients": [
                                    {
                                        "address": "muhammadumerk5462@gmail.com"
                                    }
                                ],
                                "singleValueExtendedProperties": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": -163,
                                    "y": -798
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "replyTo": {
                                            "mode": "chose"
                                        },
                                        "importance": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "mode": "chose",
                                            "label": "HTML"
                                        },
                                        "ccRecipients": {
                                            "mode": "chose"
                                        },
                                        "toRecipients": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bccRecipients": {
                                            "mode": "chose"
                                        },
                                        "internetMessageHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (Muhammad Umer Khan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Body Content",
                                        "required": true
                                    },
                                    {
                                        "name": "importance",
                                        "type": "select",
                                        "label": "Importance",
                                        "validate": {
                                            "enum": [
                                                "Low",
                                                "Normal",
                                                "High"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "toRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "To Recipients",
                                        "required": true
                                    },
                                    {
                                        "name": "from",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "From",
                                        "validate": {
                                            "maxItems": 1
                                        }
                                    },
                                    {
                                        "name": "ccRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "CC Recipients"
                                    },
                                    {
                                        "name": "bccRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Bcc Recipients"
                                    },
                                    {
                                        "name": "replyTo",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reply To"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "internetMessageHeaders",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Internet Message Headers"
                                    },
                                    {
                                        "name": "singleValueExtendedProperties",
                                        "spec": [
                                            {
                                                "name": "sensitivityLabel",
                                                "type": "text",
                                                "label": "Sensitivity Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Extended MAPI Properties"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "microsoft-email:createAndSendAMessage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7815269
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "Hello Umer,\n<br><br>\nNo job follow-up reminders were found for {{formatDate(now; \"YYYY-MM-DD\")}}.\n<br><br>\nRegards,\nYour Automation System",
                                "subject": "No Job Follow-Up Reminders Found on {{formatDate(now; \"YYYY-MM-DD\")}}",
                                "contentType": "html",
                                "toRecipients": [
                                    {
                                        "address": "muhammadumerk5462@gmail.com"
                                    }
                                ],
                                "singleValueExtendedProperties": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": -131,
                                    "y": -503
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "replyTo": {
                                            "mode": "chose"
                                        },
                                        "importance": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "mode": "chose",
                                            "label": "HTML"
                                        },
                                        "ccRecipients": {
                                            "mode": "chose"
                                        },
                                        "toRecipients": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bccRecipients": {
                                            "mode": "chose"
                                        },
                                        "internetMessageHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (Muhammad Umer Khan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Body Content",
                                        "required": true
                                    },
                                    {
                                        "name": "importance",
                                        "type": "select",
                                        "label": "Importance",
                                        "validate": {
                                            "enum": [
                                                "Low",
                                                "Normal",
                                                "High"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "toRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "To Recipients",
                                        "required": true
                                    },
                                    {
                                        "name": "from",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "From",
                                        "validate": {
                                            "maxItems": 1
                                        }
                                    },
                                    {
                                        "name": "ccRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "CC Recipients"
                                    },
                                    {
                                        "name": "bccRecipients",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Bcc Recipients"
                                    },
                                    {
                                        "name": "replyTo",
                                        "spec": [
                                            {
                                                "name": "address",
                                                "type": "email",
                                                "label": "Email Address",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reply To"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "internetMessageHeaders",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Internet Message Headers"
                                    },
                                    {
                                        "name": "singleValueExtendedProperties",
                                        "spec": [
                                            {
                                                "name": "sensitivityLabel",
                                                "type": "text",
                                                "label": "Sensitivity Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Extended MAPI Properties"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}